/*GENERAL*/

* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    color: #303030;
}

.container {
    max-width: 1000px;
    margin: auto;
}

a {
    text-decoration: none;
    transition: .7s;
}

h2 {
    padding: 80px 0px 0px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

*::-moz-selection {
    color: #fff;
    background: #23A1E9;
}

*::selection {
    color: #fff;
    background: #23A1E9;
}


/*NAV*/

nav {
    width: 100vw;
    height: 60px;
    position: fixed;
    border-bottom: 1px solid #e1e1e1;
    z-index: 5;
    transition: .7s;
}

.nav-back {
    background: rgba(255, 255, 255, .7);
}

nav>.container {
    height: 100%;
    position: relative;
}

.nav-logo {
    width: 190px;
    height: 100%;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

nav ul {
    display: flex;
    position: absolute;
    right: 0;
    list-style-type: none;
    height: 60px;
    line-height: 60px;
}

nav li {
    padding: 0 25px;
    transition: .7s;
}

nav li:hover {
    color: #23A1E9;
}


/*HEADER*/

#head {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #e1e1e1, #fff, #e1e1e1);
    position: relative;
}

#head-header {
    background-image: linear-gradient(to right, #e1e1e1, #fff, #e1e1e1);
}

.head-floor {
    width: 100%;
    height: 175px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom right, rgba(180, 180, 180, .4), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    opacity: .45;
}

.floor-header {
    z-index: 1;
}

#head .container {
    position: relative;
    transform: translateY(-50%);
    top: 55%;
}

.container-flex {
    display: flex;
}

.head-con {
    width: 50%;
}

.head-img>img {
    height: 80vh;
}

.head-text-con {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.head-text-con p {
    font-size: 50px;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.head-text-con>h1 {
    margin: 10px 0 50px;
}

.head-text-con>img {
    width: 30vw;
}

.head-text {
    padding-left: 35px;
    position: relative;
}

.logo-img {
    width: 20vw;
    margin: auto;
    padding-top: 72px;
}

.logo-img>img {
    width: 100%;
}

.heading {
    text-align: center;
    letter-spacing: 4px;
    font-size: 25px;
    margin-top: 10px;
}

.printer-flex {
    width: 100%;
    z-index: 1;
    text-align: center;
}

.printer-flex img {
    width: 100%;
}

.printer-flex h2 {
    padding: 0px;
}

.printer-flex p {
    margin: 10px;
}

.text-button-cont {
    position: relative;
    top:-20px;
}


/*BUTTONS*/

.button-cta {
    padding: 15px 50px;
    font-size: 15px;
    border-radius: 50px;
    border: 2px solid #23A1E9;
    cursor: pointer;
    transition: .7s;
    letter-spacing: 3px;
    background: transparent;
}

.button-cta:hover {
    background: #23A1E9;
    color: #fff;
}

.button-printer {
    margin: 5px 0 50px;
}


/*FEATURES*/

#features {
    width: 100vw;
    background: #fff;
    padding-top: 50px;
    position: relative;
    z-index: 1;
}

.desc-text p {
    margin: 0px 20px 80px;
    text-align: justify;
}

.blue-line {
    width: 0px;
    height: 2px;
    background: #23A1E9;
    margin: 10px 20px;
    transition: 1s;
}

.blue-line-on {
    width: 40px;
}

.cross-text-up {
    top: -20px;
    right: 0;
}

.cross-text-down {
    bottom: -20px;
    left: 0;
}

.dim-con {
    width: 46%;
    height: auto;
    position: relative;
}

.dim-item {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: .7s;
}

.dim-img {
    background-image: url(../img/dim-soon.png);
}

.dim-cube {
    background-image: url(../img/dim-cube.png);
    opacity: 0;
}

.dim-img-guider {
    background-image: url(../img/dim-soon-guider.png);
}

.dim-cube-guider {
    background-image: url(../img/dim-cube-guider.png);
    opacity: 0;
}

.dim-img-creator {
    background-image: url(../img/dim-soon-creator.png);
}

.dim-cube-creator {
    background-image: url(../img/dim-cube-creator.png);
    opacity: 0;
}

.container-reverse {
    flex-direction: row-reverse;
}

.feat-text {
    width: 50%;
    position: relative;
}

.par-open {
    font-size: 14px;
    margin: 20px;
    text-align: justify;
    display: none;
}

.display {
    display: block;
}

.feat-text ul {
    list-style-type: none;
    font-size: 20px;
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.feat-text li {
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    transition: .7s;
}

.list-item {
    transition: .7s;
    width: 75%;
    cursor: pointer;
}

.list-item:hover {
    color: #23A1E9;
}

.li-img {
    width: 50%;
    height: 95vh;
    position: relative;
}

.img-li {
    height: 100%;
    width: 100%;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
}

.feat-img>img {
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.cross {
    position: absolute;
    transform: rotate(45deg);
    transition: .7s;
}

.rotate {
    transform: rotate(0deg);
}

.cross-point {
    cursor: pointer;
}

.cross-li {
    top: 25px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
}

.crossed {
    width: 2px;
    height: 20px;
    background: #23A1E9;
}

.cross-left {
    transform: rotate(45deg);
    position: absolute;
}

.cross-right {
    transform: rotate(-45deg)
}

.cross-gray {
    background: #e1e1e1;
    transition: .7s;
}

.desc-text:hover .cross-gray {
    background: #23A1E9;
}

span {
    transition: .7s;
}

.desc-text:hover span {
    color: #23A1E9;
}

.mydiv {
    display: none;
}

.no-display {
    display: none;
}


/*BANNER*/

#banner {
    background: #f3f3f3;
    padding-bottom: 120px;
}

#banner .container {
    position: relative;
}

#banner img {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.banner-text {
    width: 70%;
    margin: auto;
}

.banner-text p {
    padding-left: 20px;
}

.banner-img {
    position: relative;
}

.img-cross {
    bottom: 0;
}

.img-cross-r {
    right: 0;
}


/*CTA*/

#cta {
    width: 100vw;
    height: 200px;
    background-image: linear-gradient(#4dbdfd, #23A1E9);
    margin-top: 100px;
}

#cta .container {
    position: relative;
    height: 100%;
}

#cta img {
    width: 44%;
    position: absolute;
    left: 47%;
    top: 50%;
    transform: translateY(-50%);
}

.cta-text {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
}

.cta-text h2 {
    color: #fff;
    padding-top: 0;
}

.cta-text button {
    background: #fff;
    border: 2px solid #fff;
    color: #23A1E9;
    margin-top: 25px;
}

.cta-text button:hover {
    background: #23A1E9;
    border: 2px solid #fff;
    color: #fff;
}

.cta-text .blue-line {
    background: #e1e1e1;
}


/*SPECIFICATION*/

#specification {
    margin-top: 50px;
}

.tech-header {
    width: max-content;
    margin: auto;
    padding-top: 20px;
}

.tech-row {
    display: flex;
    margin-top: 40px;
}

.second-row {
    margin: 30px 100px;
}

.tech-feature {
    flex: 1;
    position: relative;
}

.tech-feature p {
    text-align: center;
    font-size: 18px;
    margin: 20px;
}

.tech-feature p:nth-child(2) {
    font-weight: 900;
}

.tech-line {
    width: 200px;
    height: 2px;
    background: #e1e1e1;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}


/*FOOTER*/

footer {
    margin-top: 80px;
    background-color: #282a2b;
    border-color: #4b4c4d;
    border-top-width: 1px;
    padding-top: 12px;
    padding-bottom: 12px;
}

footer .container {
    position: relative;
}

footer span {
    color: #e1e1e1;
    font-size: 14px;
}

footer p {
    color: #fff;
    font-size: 14px;
}

.arrow {
    width: 40px;
    height: 40px;
    background: url(../img/arrow.png);
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}