/*GENERAL*/

* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    color: #303030;
}

.container {
    max-width: 1000px;
    margin: auto;
}

a {
    text-decoration: none;
    transition: .7s;
}

h2 {
    padding: 80px 0px 0px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

*::-moz-selection {
    color: #fff;
    background: #23A1E9;
}

*::selection {
    color: #fff;
    background: #23A1E9;
}


/*NAV*/

nav {
    width: 100vw;
    height: 60px;
    position: fixed;
    border-bottom: 1px solid #e1e1e1;
    z-index: 5;
    transition: .7s;
}

.nav-back {
    background: rgba(255, 255, 255, .6);
}

nav>.container {
    height: 100%;
    position: relative;
}

.nav-logo {
    width: 190px;
    height: 100%;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

nav ul {
    display: flex;
    position: absolute;
    right: 0;
    list-style-type: none;
    height: 60px;
    line-height: 60px;
}

nav li {
    padding: 0 25px;
    transition: .7s;
}

nav li:hover {
    color: #23A1E9;
}


/*HEADER*/

#head {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #e1e1e1, #fff, #e1e1e1);
    position: relative;
}

.head-floor {
    width: 100%;
    height: 175px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom right, rgba(180,180,180, .5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    opacity: .3;
}

#head .container {
    position: relative;
    transform: translateY(-50%);
    top: 55%;
}

.container-flex {
    display: flex;
}

.head-con {
    width: 50%;
}

.head-img>img {
    height: 80vh;
}

.head-text-con {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.head-text-con>h1 {
    margin: 10px 0 50px;
}

.head-text-con>img {
    width: 30vw;
}

.head-text {
    padding-left: 35px;
}


/*BUTTONS*/

.button-cta {
    padding: 15px 50px;
    font-size: 15px;
    border-radius: 50px;
    border: 2px solid #23A1E9;
    cursor: pointer;
    transition: .7s;
    letter-spacing: 3px;
    background: transparent;
}

.button-cta:hover {
    background: #23A1E9;
    color: #fff;
}


/*FEATURES*/

#features {
    width: 100vw;
    background: #fff;
    margin-top: 50px;
}

.desc-text p {
    margin: 0px 20px 80px;
    text-align: justify;
}

.blue-line {
    width: 40px;
    height: 2px;
    background: #23A1E9;
    margin: 10px 20px;
}

.cross-text-up {
    top: -20px;
    right: 0;
}

.cross-text-down {
    bottom: -20px;
    left: 0;
}

.dim-img {
    padding-left: 10px;
    width: 46%;
}

.container-reverse {
    flex-direction: row-reverse;
}

.feat-text {
    width: 50%;
    position: relative;
}

.feat-text ul {
    list-style-type: none;
    font-size: 20px;
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.feat-text li {
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    cursor: pointer;
    transition: .7s;
}

.feat-text li:hover {
    color: #23A1E9;
}

#features img {
    width: 50%;
    height: 100%;
    position: relative;
}

.feat-img>img {
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.cross {
    position: absolute;
    transform: rotate(45deg);
    cursor: pointer;
}

.cross-li {
    bottom: 15px;
    right: 10px;
}

.crossed {
    width: 2px;
    height: 20px;
    background: #23A1E9;
}

.cross-left {
    transform: rotate(45deg);
    position: absolute;
}

.cross-right {
    transform: rotate(-45deg)
}

.cross-gray {
    background: #e1e1e1;
    transition: .7s;
}

.desc-text:hover .cross-gray {
    background: #23A1E9;
}

span {
    transition: .7s;
}

.desc-text:hover span {
    color: #23A1E9;
}


/*BANNER*/

#banner {
    background: #f3f3f3;
    padding-bottom: 120px;
}

#banner .container {
    position: relative;
}

#banner img {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.banner-text {
    width: 70%;
    margin: auto;
}

.banner-text p {
    padding-left: 20px;
}

.banner-img {
    position: relative;
}

.img-cross {
    bottom: 0;
}

.img-cross-r {
    right: 0;
}


/*CTA*/

#cta {
    width: 100vw;
    height: 200px;
    background-image: linear-gradient(#4dbdfd, #23A1E9)
}

#cta .container {
    position: relative;
    height: 100%;
}

#cta img {
    width: 44%;
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
}

.cta-text {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
}

.cta-text h2 {
    color: #fff;
    padding-top: 0;
}

.cta-text button {
    background: #fff;
    border: 2px solid #fff;
    color: #23A1E9;
    margin-top: 25px;
}

.cta-text button:hover {
    background: #23A1E9;
    border: 2px solid #fff;
    color: #fff;
}

.cta-text .blue-line {
    background: #e1e1e1;
}


/*SPECIFICATION*/

#specification {
    margin-top: 50px;
}